# Chit Chats
CHITCHATS_CLIENT_ID=
CHITCHATS_ACCESS_TOKEN=
CHITCHATS_PACKAGE_TYPE=

# Stallion Express
STALLION_ACCESS_TOKEN=

# Default shipping origin
YFSHIP_ORIGIN_NAME=
YFSHIP_ORIGIN_COMPANY=
YFSHIP_ORIGIN_ADDRESS1=
YFSHIP_ORIGIN_ADDRESS2=
YFSHIP_ORIGIN_CITY=
YFSHIP_ORIGIN_REGION_CODE=
YFSHIP_ORIGIN_POSTAL_CODE=
YFSHIP_ORIGIN_COUNTRY_CODE=CA
YFSHIP_ORIGIN_EMAIL=
YFSHIP_ORIGIN_PHONE=
YFSHIP_ORIGIN_RESIDENTIAL=false
